<% provide(:title, '体験型事業者を探す') %>

<div class="business-layout">
  <div class="business-layout-main">
    <% @owners.each do |owner| %>
      <div class="business-item">
        <div class="business-image">
          <% if owner.photo.attached? %>
            <%= image_tag owner.photo.variant(resize_to_fill:[220,160], crop:("220x160+0+0")).processed, class: "business-image" %>
          <% end %>
        </div>
        <div class="business-info">
          <%= link_to owner.name, owner, class: "business-item-name" %>
          <% if owner_logged_in? && current_owner.admin? && !current_owner?(owner) %>
            <%= link_to "削除", owner, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
          <%= link_to owner.email, owner, class: "business-item-email" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @owners %>
</div>
