<div class="form search">
  <div class="form-container">
    <%= search_form_for(@q, url: owner_search_path) do |f| %>
      <div class="form-layout">
        <div class="form-label-ttl">
          <%= f.label :leisures_id_in, "体験内容を選ぶ", class: "form-label" %>
        </div>
        <%= f.collection_check_boxes(:leisures_id_in, @leisures, :id, :name) do |c| %>
          <label class="tag-item">
            <%= c.check_box %>
            <span>#</span><%= c.text %>
          </label>
        <% end %>
      </div>
      <div class="btn-location">
        <%= f.submit yield(:button_text), class: "search_button" %>
      </div>
    <% end %>
  </div>
</div>
