<div class="form-container">
  <%= form_with model: @agent do |f| %>
    <%= render "shared/error_messages", model: @agent %>
    <div class="form-layout">
      <%= f.label :name, "会社名", class: "form-label" %>
      <%= f.text_field :name, placeholder: "例) 株式会社◯◯", class: "form-block" %>

      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, class: "form-block" %>

      <%= f.label :category, "業種", class: "form-label" %>
      <%= f.text_field :category, placeholder: "例) ランドオペレーター", class: "form-block" %>

      <%= f.label :address, "住所", class: "form-label" %>
      <%= f.text_field :address, placeholder: "例) 京都市東山区四条大橋東詰", class: "form-block" %>

      <%= f.label :scale, "会社規模", class: "form-label" %>
      <%= f.select :scale, ['従業員 0~50人', '従業員 51~100人', '従業員 101~300人',
       '従業員 301~1000人', '従業員 1001人~'], { include_blank: '選択ボックス' }, class: "select-box" %>

      <div class="form-label-ttl">
        <%= f.label :target_ids, "ターゲット国", class: "form-label" %>
      </div>
      <%= f.collection_check_boxes(:target_ids, Target.all, :id, :name) do |c| %>
        <label class="tag-item">
          <%= c.check_box %>
          <span>#</span><%= c.text %>
        </label>
      <% end %>

      <%= f.label :target_audience, "ターゲット層", class: "form-label target_audience" %>
      <%= f.text_field :target_audience, placeholder: "例) 富裕層", class: "form-block" %>

      <%= f.label :photo, "画像", class: "form-label" %>
      <%= f.file_field :photo, class: "image-form" %>

      <%= f.label :password, "パスワード (半角英数8文字以上)", class: "form-label" %>
      <%= f.password_field :password, class: "form-block" %>

      <%= f.label :password_confirmation, "パスワード [確認用]", class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-block" %>
    </div>
    <div class="btn-location">
      <%= f.submit yield(:button_text), class: "button" %>
    </div>
  <% end %>
</div>
