<div class="register">
  <%= form_for(object, html: { class: "register-form" }) do |f| %>
    <%= f.label "会社名", class: "register-label" %>
    <%= f.text_field :name, class: "register-block" %>

    <%= f.label "メールアドレス", class: "register-label" %>
    <%= f.text_field :email, class: "register-block" %>

    <%= f.label "パスワード", class: "register-label" %>
    <%= f.password_field :password, class: "register-block" %>

    <%= f.label "パスワード確認", class: "register-label" %>
    <%= f.password_field :password_confirmation, class: "register-block" %>

    <div class="btn-location">
      <%= f.submit "新規登録", class: "button" %>
    </div>
  <% end %>
</div>
