<div class="header">
  <div class="header-logo">
    <%= link_to "Kotosearch", root_path, id: "header-logo-item" %>
  </div>
  <div class="keyword-search">
    <%#= 検索フォーム %>
  </div>
  <ul class="global-menu">
    <li><%= link_to "体験型事業者を探す", owners_path, class: "global-menu-item" %></li>
    <li><%= link_to "エージェントを探す", agents_path, class: "global-menu-item" %></li>
    <li><%= link_to "ご利用ガイド", help_path, class: "global-menu-item" %></li>
  </ul>
  <ul class="header-menu">
    <li><%= link_to "事業者登録", signup_owner_path, class: "header-menu-item" %></li>
    <li><%= link_to "エージェント登録", signup_agent_path, class: "header-menu-item" %></li>
    <% if agent_logged_in? %>
      <li><%= link_to "マイページ", current_agent, class: "header-menu-item" %></li>
      <li><%= link_to "ログアウト", logout_agent_path, method: :delete, class: "header-menu-item login" %></li>
    <% elsif owner_logged_in? %>
      <li><%= link_to "マイページ", current_owner, class: "header-menu-item" %></li>
      <li><%= link_to "ログアウト", logout_owner_path, method: :delete, class: "header-menu-item login" %></li>
    <% else %>
      <li>
        <label class="header-menu-item login" for="my_modal1">ログイン</label>
        <input type="checkbox" id="my_modal1">
        <label class="my_modal_overlay" for="my_modal1"></label>
        <div class="my_modal_body1">
          <div class="my_modal_header">
            ログイン
            <label class="my_modal_close" for="my_modal1"><div class="my_modal_close_icon"><span></span></div></label>
          </div>
          <div class="my_modal_content">
            <ul>
              <li><%= link_to "体験型事業者の方", login_owner_path, class: "btn-pop owner" %></li>
              <li><%= link_to "エージェントの方", login_agent_path, class: "btn-pop agent" %></li>
            </ul>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
