<header class="header">
  <div class="header-logo">
    <%= link_to "Kotosearch", root_path, id: "header-logo-item" %>
  </div>
  <ul class="global-menu">
    <li><%= link_to "体験型事業者を探す", owners_path, class: "global-menu-item" %></li>
    <li><%= link_to "エージェントを探す", agents_path, class: "global-menu-item" %></li>
  </ul>
  <ul class="header-menu">
    <li><%= link_to "事業者登録", owner_signup_path, class: "header-menu-item" %></li>
    <li><%= link_to "エージェント登録", agent_signup_path, class: "header-menu-item" %></li>
    <% if agent_logged_in? %>
      <li><%= link_to "マイページ", current_agent, class: "header-menu-item" %></li>
      <li><%= link_to "ログアウト", agent_logout_path, method: :delete, class: "header-menu-item login" %></li>
    <% elsif owner_logged_in? %>
      <li><%= link_to "マイページ", current_owner, class: "header-menu-item" %></li>
      <li><%= link_to "ログアウト", owner_logout_path, method: :delete, class: "header-menu-item login" %></li>
    <% else %>
      <li>
        <label class="header-menu-item login" for="my_modal1">ログイン</label>
        <input type="checkbox" id="my_modal1">
        <label class="my_modal_overlay" for="my_modal1"></label>
        <div class="my_modal_body1">
          <div class="my_modal_header">
            ログイン
            <label class="my_modal_close" for="my_modal1"><div class="my_modal_close_icon"><span></span></div></label>
          </div>
          <div class="my_modal_content">
            <ul>
              <li><%= link_to "体験型事業者の方", owner_login_path, class: "btn-pop" %></li>
              <li><%= link_to "エージェントの方", agent_login_path, class: "btn-pop agent" %></li>
            </ul>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <nav class="globalnav-wrap">
    <div class="nav-button-wrap">
      <div class="nav-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class="globalnav">
      <li class="dropdown-btn">
        <ul class="dropdown">
          <li class="searching"><%= link_to "☞  体験型事業者を探す", owners_path %></li>
          <li class="searching"><%= link_to "☞  エージェントを探す", agents_path %></li>
        </ul>
      </li>
      <br>
      <li class="dropdown-btn">
        <% if agent_logged_in? %>
          <ul class="dropdown">
            <li><%= link_to "▷ マイページ", current_agent %></li><br>
            <li><%= link_to "▷ ログアウト", agent_logout_path, method: :delete %></li>
          </ul>
        <% elsif owner_logged_in? %>
          <ul class="dropdown">
            <li><%= link_to "▷ マイページ", current_owner %></li><br>
            <li><%= link_to "▷ ログアウト", owner_logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <p>体験型事業者の方</p>
          <ul class="dropdown">
            <li><%= link_to "▷ ログイン", owner_login_path %></li><br>
            <li><%= link_to "▷ 新規登録", owner_signup_path %></li>
          </ul>
          <br>
          <p>エージェントの方</p>
          <ul class="dropdown">
            <li><%= link_to "▷ ログイン", agent_login_path %></li><br>
            <li><%= link_to "▷ 新規登録", agent_signup_path %></li>
          </ul>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
