<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nissy_engineer" />
    <meta property="og:url" content="http://kotosearch.com/" />
    <meta property="og:title" content="Kotosearch | 体験型×エージェント" />
    <meta property="og:description" content="インバウンド事業者どうしのマッチングプラットフォーム" />
    <meta property="og:image" content="../app/javascript/images/screenshot.png" />

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="alert_wrap">
        <% flash.each do |flash_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{flash_type}") %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
